body{
  background-color: black;
}

.game{/*
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;*/
}

.game-heading{
  font-family: 'Impact';
  font-size: 20px;
  width: 100%;
  height: 100%;
  color: yellow;
  text-decoration: underline;
}

.game-heading h1{
  text-align: center;
}

.game-board{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.gameStatus{
  color: white;
  font-size: 25px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.rowContainer{
  /*margin-top: 10px;*/
  display: flex;
  /*width: 300px;*/
  align-items: center;
  justify-content: center;
}

.boardContainer{
  /*margin-top: 10px;*/
  height: 100%;
  padding: 0 20px 0 20px;

}

.rowContainer{
  height: 300px;
  padding: 10px;
  /* background-color: white; */
}


.boardBorder{
  width: 270px;
  background-color: white;
  border: 1px solid grey;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.board-row{
  display: flex;
  flex-direction: row;
  width: 300px;
  overflow: hidden;
  /*width: 100%;*/

  @media only screen and (min-width: 220px) {
    width: 150px;
  }
}

.square{
  width: 30%;
  color: #efefef;
  border: 2px solid salmon;
  font-size: 75px;
  overflow: hidden;
}

.buttonControls{
  width: 100%;
  /*margin-top: 20px;*/
  display: flex;
  justify-content: center;
}

.resetButton,.undoButton,.redoButton{
  margin-right: 15px;
  padding: 15px;
  border-radius: 50px;
}

.resetButton{
  margin-right: 15px;
  padding: 15px;
  border-radius: 50px;
}

.resettooltiptext, .undotooltiptext, .redotooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}

.resetButton:hover .resettooltiptext,.undoButton:hover .undotooltiptext,.redoButton:hover .redotooltiptext {
  visibility: visible;
}

.restoreGamesLabel{
  color: white;
  font-family: 'Lucida Sans';
  font-size: 15px;
  margin-right: 10px;
}

.restoreDropdown{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}


@media(max-width: 220px) {
  .rowContainer{
    height: 300px;
  }

  .boardBorder{
    width: 200px;
    padding: 10px;
  }

  .board-row{
    width: 200px;
  }

}
